<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <p class="navbar-item">
            <strong>Koti </strong> - Etusivu
        </p>
        
        <div class="dropdown navbar-burger is-right {{if this.showMenu "is-active"}}">
            <a class="dropdown-trigger" {{on "click" this.toggleMenu}}>

                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>

            </a>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item is-active">
                        Etusivu
                    </a>
                    <a class="dropdown-item">
                        Lämmitys
                    </a>
                    <a href="#" class="dropdown-item">
                        Vesipumppu
                    </a>
                </div>
            </div>
        </div>
    </div>

</nav>