<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <button class="button is-primary mr-2">Päällä</button>
        <button class="button ml-2">Pois</button>
    </div>

</nav>