<nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="title has-text-primary">9.7</p>
                    <p class="subtitle">Lämpötila</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="title has-text-primary">95</p>
                    <p class="subtitle">Kosteus</p>
                </div>
            </div>

        </nav>