<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <p class="navbar-item">
            <strong>Koti </strong> - Etusivu
        </p>
        
        <div class="dropdown navbar-burger is-right {{if 0 "is-active"}}">
            <a class="dropdown-trigger">

                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>

            </a>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item is-active">
                        Etusivu
                    </a>
                    <a class="dropdown-item">
                        Lämmitys
                    </a>
                    <a href="#" class="dropdown-item">
                        Vesipumppu
                    </a>
                </div>
            </div>
        </div>
    </div>

</nav>

<section class="section">

    <div class="box">
        <div class="content">
            <p>Lämpötila</p>
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title has-text-primary">9.7</p>
                        <p class="subtitle">Lämpötila</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title has-text-primary">95</p>
                        <p class="subtitle">Kosteus</p>
                    </div>
                </div>

            </nav>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <p>Pihavalot</p>
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <button class="button is-primary mr-2">Päällä</button>
                    <button class="button ml-2">Pois</button>
                </div>

            </nav>
        </div>
    </div>

</section>