<Navbar @page={{model.page}} />

<section class="section">
    {{outlet}}
    <div class="box">
        <div class="content">
            <p>Lämpötila</p>
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title has-text-primary">9.7</p>
                        <p class="subtitle">Lämpötila</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title has-text-primary">95</p>
                        <p class="subtitle">Kosteus</p>
                    </div>
                </div>

            </nav>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <p>Pihavalot</p>
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <button class="button is-primary mr-2">Päällä</button>
                    <button class="button ml-2">Pois</button>
                </div>

            </nav>
        </div>
    </div>

</section>